/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

}

process {
    withName: SAMTOOLS_VIEW {
        ext.prefix = { "${meta.id}.samtools_view" }
        ext.args = '-F 12 --output-fmt bam'
        ext.args2 = 'chr2:47414421'
        publishDir = [
                path: { "${params.outdir}/samtools_view" },
                mode: 'copy',  // Copy files instead of symlinking
                saveAs: { filename -> filename }  // Keep original filenames
        ]
    }
}

process {
    withName: SAMTOOLS_SORT {
        ext.prefix = { "${meta.id}.samtools_sorted"}
        ext.args = '-n'
        publishDir = [
                path: { "${params.outdir}/samtools_sort" },
                mode: 'copy',
                saveAs: { filename -> filename }
        ]
    }
}

process {
    withName: SAMTOOLS_FASTQ {
        ext.prefix = { "${meta.id}.samtools_fastq"}
        ext.args = '-n'
        publishDir = [
            path: { "${params.outdir}/samtools_fastq" },
            mode: 'copy',
            saveAs: { filename -> filename }
        ]
    }
}

process {
    withName: PEAR {
        publishDir = [
            path: { "${params.outdir}/pear" },
            mode: 'copy',
            saveAs: { filename -> filename }
        ]
    }
}
