process {

    withName: SAMTOOLS_VIEW {
        cpus       = { 2 }
        memory     = { 6.GB * task.attempt }
        ext.prefix = { "${meta.id}.samtools_view" }
        ext.args   = '-F 12 --output-fmt bam'
        ext.args2  = { params.targeted.gene == 'MSH2' ? 'chr2:47414420-47414421' : null }
    }

    withName: SAMTOOLS_SORT {
        cpus       = { 2 }
        memory     = { 6.GB * task.attempt }
        ext.prefix = { "${meta.id}.samtools_sorted" }
        ext.args   = '-n'
    }

    withName: SAMTOOLS_FASTQ {
        cpus       = { 2 }
        memory     = { 6.GB * task.attempt }
        ext.prefix = { "${meta.id}.samtools_fastq" }
        ext.args   = '-n'
    }

    withName: PEAR {
        cpus   = { 2 }
        memory = { 6.GB * task.attempt }
    }

    withName: MULTIQC {
        // Use custom CMGG MultiQC container
        container = 'quay.io/cmgg/multiqc_cmgg:0.0.5-multiqc-v1.33'

        // Generate report with optional title
        ext.args  = { params.multiqc_title ? "--title \"${params.multiqc_title}\"" : '' }
    }
}
