/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
    Specific to the targeted.msh2 pipeline, but can be used as a template for other pipelines
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
                   = Genomic location for MSH2 variant
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: SAMTOOLS_VIEW {
        ext.prefix = { "${meta.id}.samtools_view" }
        ext.args   = '-F 12 --output-fmt bam'
        ext.args2  = 'chr2:47414421'
    }

    withName: SAMTOOLS_SORT {
        ext.prefix = { "${meta.id}.samtools_sorted" }
        ext.args   = '-n'
    }

    withName: SAMTOOLS_FASTQ {
        ext.prefix = { "${meta.id}.samtools_fastq" }
        ext.args   = '-n'
    }

}
