/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-cmgg/report -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/
// Load targeted MSH2 specific config
includeConfig 'targeted.MSH2.config'

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    genome                     = 'R64-1-1'

    // Targeted flow
    targeted {
        input = "${projectDir}/assets/samplesheet_targeted.csv"
        fasta = 'https://github.com/nf-cmgg/test-datasets/raw/refs/heads/report/data/genomics/homo_sapiens/genome/seq/subset.fa'
    }

    // RNAfusion flow
    rnafusion {
        input    = "${projectDir}/assets/samplesheet_rnafusion.csv"
        genes    = "https://github.com/nf-cmgg/test-datasets/raw/refs/heads/report/data/genomics/homo_sapiens/genome/varcov_files/RNAseq_genes_2.txt"
        fusions  = "https://github.com/nf-cmgg/test-datasets/raw/refs/heads/report/data/genomics/homo_sapiens/genome/varcov_files/fusions.txt"
        mane     = "https://github.com/nf-cmgg/test-datasets/raw/refs/heads/report/data/genomics/homo_sapiens/genome/varcov_files/2026_01_20_MANE.csv"
    }

    // Pacvar repeat flow
    pacvar_repeat {
        input    = "${projectDir}/assets/samplesheet_pacvar_repeat.csv"
    }
}


docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

process {
    // Limit resources so that this can run on GitHub Actions
    resourceLimits = [
        cpus: 2,
        memory: 6.GB,
        time: 6.h,
    ]
}
